*{
margin:0;
padding:0px;
font-family: 'Roboto', sans-serif;	
}

nav{
  /*background:rgb(225,80,100);*/
  background:rgb(12, 12, 12);
  color:white;
}
a {text-decoration: none;}
nav ul a{
  text-decoration:none;
  color:black;
  display: block;
  padding: 15px;
}
nav ul a, ul a:visited{
	color:white;
}
ul{
	list-style:none;
}
li{
  display:inline-block;
}
li:hover{
  background:rgb(240, 77, 77);
  cursor:pointer;
}
main{
  padding:10px;
}
#slide-img{
	text-align:center
}
#slide-img img{
	width:80%;	
}
.box{
	width:100px;
	text-align:center;
	display:inline-block;
	background:#eee;
	padding:5px;
	color:black;
	border-radius:5px;
}
#icon-bol{
	width:60px;
	height:60px;
	border-radius:35px;
	padding:2px;
	margin:0 auto;
	background:radial-gradient(yellow,red);
	border:2px solid black;
}
#bol-num{
	background:white;
	width:20px;
	padding:5px;
	margin:10px auto;
	font-weight:bold;
	border-radius:20px;
}