*{
margin:0;
padding:0px;
font-family: 'Roboto', sans-serif;	
}
header{
  /*border-bottom:2px solid #cecece;*/
  height:80px;
  padding:10px;
}
nav{
  background:rgb(225,80,100);
  color:white;
}
a{
  text-decoration:none;
}
a,a:visited{
color:white;
}
ul{
  display:inline-block;
  list-style:none;
}
li{
  border-left:1px solid #ffffff;
  padding:10px;
}
li:hover{
  background:rgb(225,80,120);
  cursor:pointer;
}
main{
  padding:10px;
}
