*{
	margin:0;
	padding:0;
	font-family:arial;
}
header, main, footer, #painel, #quadro{
	width:370px;
	margin:5px auto;
	border:2px solid #ccc;
	padding:2px;
	border-radius:5px;	
	text-align:center;
}
header, main,footer{border:none;}
footer{background:rgb(225,80,100);padding:10px 4px;}

#bola-sorteada{
	width:100px;
	height:100px;
	border-radius:60px;
	margin:5px auto;
	/*background:#a2fe2b;*/
	background:yellow;
	padding:5px;
	text-align:center;
	border:2px solid black;
}
.sombra-bola{
	width:100px;
	height:2px;
	background:#eee;
	margin:5px auto;
	border-radius:10px;
	padding:2px;
	
}
#num-sorteado{
	background:white;
	margin:25px auto;
	padding:12px 5px 0 5px;
	border-radius:30px;
	width:35px;
	height:35px;
	font-weight:bold;
	font-size:20px;
}

.bola, .bola-menor{
	width:40px;
	height:40px;
	display:inline-block;
	background:#cecece;
	padding:5px;
	margin:5px;
	text-align:center;	
	border-radius:30px;
	color:white;
}
.bola{
	border:2px solid black;
	box-shadow:0 10px 3px #cecece;
	
}
.bola-menor{
	width:20px;
	height:20px;
	
}
.letras{ 
	margin-top:8px;
	font-size:20px;
	font-weight:bold;
	text-shadow: 3px 2px 3px GrayText;
}
button{
	padding:2px;
	cursor:pointer;
}
.cor-0{background:blue;}
.cor-1{background:red}
.cor-2{background:green}
.cor-3{background:black}
.cor-4{background:orange}