*{
	margin:0;
	padding:0;
	font-family:arial;
}
header, main, footer, #painel, #quadro, #inf, #parciais{
	width:370px;
	margin:5px auto;
	border:2px solid #ccc;
	padding:2px;
	border-radius:5px;	
	text-align:center;
}
#parciais{
	border: none;
	color:rgb(17, 148, 71);
	font-weight: bold;
}
header, main,footer{border:none;}
footer{
	background:radial-gradient(yellow,red);
	padding:10px 4px;
}
.voltar{
	width:370px;
	margin:5px auto;
	text-align:center;
}
#inf{
	border: none;
	/*background:radial-gradient(#eee,rgb(24, 108, 141),#ccc)*/
}
#spanDivInf{
	color:rgb(61, 61, 197);
	font-weight: bold;
}
#bola-sorteada{
	width:100px;
	height:100px;
	border-radius:60px;
	margin:5px auto;
	/*background:#a2fe2b;*/
	/*background:yellow;*/
	background:radial-gradient(yellow,red);
	padding:5px;
	text-align:center;
	border:2px solid black;
}
.sombra-bola{
	width:100px;
	height:2px;
	background:#eee;
	margin:5px auto;
	border-radius:10px;
	padding:2px;
}
#num-sorteado{
	/*background:white;*/
	background:radial-gradient(white,white,#cecece);
	margin:15px auto;
	padding:12px 5px 0 5px;
	border-radius:40px;
	border:2px solid #cecece;
	width: 50px;
	height:50px;
	font-weight:bold;
	font-size:20px;
}

.bola, .bola-menor{
	width:40px;
	height:40px;
	display:inline-block;
	background:#cecece;
	padding:5px;
	margin:5px;
	text-align:center;	
	border-radius:30px;
	font-weight: bold;
}
.bol-sup{
	/*background:radial-gradient(pink, purple);*/
	background:radial-gradient(yellow,red);
	padding:10px;
}
.bol-sup-chamada{
	background:radial-gradient(rgb(235, 115, 115), rgb(151, 33, 33));
	/*background:radial-gradient(rgb(243, 91, 91), rgb(231, 40, 40));*/
	padding:10px;
}
.bola{
	color:white;
	border:2px solid black;
	box-shadow:0 10px 3px #cecece;	
}
.bola-menor{
	width:20px;
	height:20px;
	color:black;	
}
.letras{ 
	margin-top:8px;
	font-size:20px;
	font-weight:bold;
	text-shadow: 3px 2px 3px Gray;
}
#btn-sortear{
	padding:5px 25px;
	cursor:pointer;
	font-weight: bold;
}
#btn-sortear:hover{
	border-radius:3px;
	border:2px solid rgb(50,220,20);	
	background:radial-gradient(lightgreen,green);
}
#btn-refresh{
	padding:4px 15px;
	background:rgb(50,120,250);
	border: none;
	border-radius: 5px;
	font-weight:bold;
	text-shadow: 3px 2px 3px black;
	color:white;
}
#btn-refresh:hover{
	cursor: pointer;
	color:black;
	text-shadow: none;
	
}
.cor-0{background:blue;}
.cor-1{background:red}
.cor-2{background:green}
.cor-3{background:black}
.cor-4{background:orange}